<!DOCTYPE html>
<html>
<head>
  <title>Echowrap</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

	<div class="container">
    <%= yield %>
	</div>
   <!-- Footer
    ================================================== -->
  <footer class="footer">
    <div class="container">
      <hr/>
      <p>All text and design is copyright ©2013 <a href="http://timcase.me">Tim Case</a> All rights reserved. This copyright only applies to this demo site.  Echowrap itself uses an MIT license.</p>


    </div>
  </footer>
</body>

</html>
